/* importing the font from google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.footerContent {
    min-height: 18vh;
    background-color: #b2bdb5;
    color: #000501;
    font-family: "Roboto", sans-serif;
    font-weight:600;
    display:flex;
    justify-content: center;
    align-items: center;
}
